form textarea {
  margin-right: 10px;
  padding: 6px 10px;
  border: 1px solid var(--color-base);
  border-radius: 4px;
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
}

form textarea::placeholder {
  color: black;
}
