.navbar {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  color: var(--color-base);
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 10px;
}

.nav-item:hover {
  text-decoration: underline;
}

.nav-link {
  color: var(--color-base);
  text-decoration: none;
}
