.button-bar {
  margin-left: auto;
  margin-right: 0;
  padding: 0px 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.button-bar button {
  margin-right: 10px;
}

.button-bar .selected {
  background-color: var(--color-1);
}

.filter-button {
  border: none;
  background: none;
  color: var(--color-2);
  font-size: 0.95em;
  font-weight: 500;
}

.filter-button:hover {
  color: var(--color-accent);
}

.filter-selected {
  color: var(--color-accent);
}

#filter-icon {
  margin-left: 5px;
}

.event-body {
  justify-content: center;
  padding: 32px 16px 16px 16px;
}

.filter-form {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 30px;
  max-width: 500px;
}

.event-card {
  flex: 1 1 300px;
}

.large-event-container {
  height: 50%;
  min-height: min(300px, 80vh);
}

.small-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px 0px 8px 0px;
}

.search-container {
  position: relative;
  margin: 0px 20px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-basis: 50%;
}

.search-bar {
  width: 100%;
}

.search-container input {
  flex: 1 1 auto;
  padding: 12px 20px;
  border: 1px solid var(--color-base);
  border-radius: 4px;
  background-color: var(--color-base);
  color: var(--color-light);
}

.search-container input::placeholder {
  color: var(--color-light);
}

.clear-btn {
  right: 10px;
  top: 50%;
  width: 20px;
  height: 20px;
  border: none;
  background-image: url(../../../assets/x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
  cursor: pointer;
}
